/* GENERAL */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{

    --green: #aaf935;
    --black:  #000000;
    --navy-blue: #080b12;
    --grey: #141922;
    --mid-grey: #282828;
    --light-grey: #a3a3a3;
    --white: #ffffff;

} 


body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--grey);
}

/* UTILITY */

.debug{
    border: 1px solid red;
}

ul{
    list-style: none;
}


.ovf-h{
    overflow: hidden;
}




/* PADDING-MARGIN-BORD... */


.p-b10{
    padding-bottom: 10px;
}

.p-t20{
    padding-top: 20px;

}

.p-tb40{
    padding: 40px 0;
}


.p-b20{
    padding-bottom: 20px;
}


.p-b50{
    padding-bottom: 50px;
}

.p-bneg30{
    margin-bottom: -25px;
    

}

.bord-radio-20{
    border-radius: 20px;

}


.bord-radio-40{
    border-radius: 40px;
}


.bord-radio100{
    border-radius: 100%;
}


.m-t20{
    margin-top: 20px;
}

.m-b20{
    margin-bottom: 20px;
}

.m-r20{
    margin-right: 20px;
}

.m-l20{
    margin-left: 20px;

}


.m-0a{
    margin: 0 auto;
}



.p-lr5{
    padding: 0 5px;
}


/* TEXT */


.txtdeco-none{
    text-decoration: none;
}



#m-nav a{
    text-decoration: none;
    color: var(--light-grey);
    font-size: .7rem;
    text-transform: uppercase;
    font-weight: 600;
}

#recent h4, #recent p, #foryou .row h4, #foryou .row p, #popular .row h4, #popular .row p{
    text-align: center;
    padding-top: 8px;
}

#recent p, #foryou p, #popular p{
    color: var(--light-grey);
    font-size: .8rem;
    padding-bottom: 15px;
}

.white-txt{
    color: var(--white);
}

.upcase{
    text-transform: uppercase;
}

.font-sm{
    font-size: .7rem;
}

.tools ul li a{
   font-size: .7rem;
   text-decoration: none;
   color: var(--light-grey);
   
}


#playlist ul li{
    padding: 10px 0;
}


#playlist ul li a{
    text-decoration: none;
    color: var(--light-grey);
    font-size: .8rem;
}



/* IMG */

.logo{
    width: 60%;
}


.col img{
    width: 100%;
}



.round-img img{
   border-radius: 50%;

} 

.tools ul li a span{
    margin-top: 0;
}

.tools ul li img{
    width: 20px;

}


/* CONTAINER */

main{
    width: 100%;
    height: calc(100% - 70px);
    overflow: hidden;
    
    


}

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    color: var(--white);
    overflow: hidden;
}

.side-bar{
    width: 230px;
    min-height: 470px;
    background-color: var(--black);
    color: var(--light-grey);
    
}

.main-container{
    width:calc(100% - 230px);
    height: 100%;
    background-color: var(--grey);
    padding-top: 80px;
    margin-bottom: 70px;
    overflow-y: auto;
    
}

.play-bar{
    width: 100%;
    height: 70px;
    background-color: var(--mid-grey);
    
}

.cta-bar{
    width: calc(100% - 230px);
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--navy-blue);
    filter: opacity(0.9);
}

.content-box{
    width: 100%;
    height: calc(100% - 70px);
    padding: 15px;
    margin-bottom: 70px;
    
}

.main-nav{

    max-width:800px ;

}

.row{
    margin-left: -15px;
    margin-right: -15px;
}

.col{
    padding: 15px;
    width: calc(100% / 6);
}




/* BOTTONI */

.btn{
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid var(--white);

}


/* FLEX */

.d-flex{
    display: flex;
    
}


.d-flex-col{
    display: flex;
    flex-flow: column nowrap;
}

.justco-spacebtw{
    justify-content: space-between;
}

.justco-start{
    justify-content: start;
}

.justco-center{
    justify-content: center;
}

.justco-end{
    justify-content: flex-end;
}

.alig-center{
    align-items: center;
    align-content: center;

}

.aligit-start{
    align-items: flex-start;
}

.aligcon-start{
    align-content: flex-start;
}

.aligco-sbtw{
    align-content:space-between ;
}



/* PROVEEEE */







.sideb-top{
    width: 100%;
    height: calc(100% - 70px);
    /* overflow-y :auto; */
    
    

}


.sideb-bot{
    width: 100%;
    height: 70px;
    background-color: var(--black);

}

.playlist{
    width: 100%;
    min-height: 100px;
    overflow-y: auto;
}



.ico-sz{
    width: 20px;

}

