/* GENERAL */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{

    --green: #aaf935;
    --black:  #000000;
    --navy-blue: #080b12;
    --grey: #141922;
    --mid-grey: #282828;
    --light-grey: #a3a3a3;
    --white: #ffffff;

}


body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--grey);
}

/* UTILITY */

.debug{
    border: 1px solid red;
}

ul{
    list-style: none;
}


.ovf-h{
    overflow: hidden;
}




/* PADDING-MARGIN-BORD... */


.p-b10{
    padding-bottom: 10px;
}

.p-t20{
    padding-top: 20px;

}

.p-tb40{
    padding: 40px 0;
}


.p-b20{
    padding-bottom: 20px;
}


.p-b50{
    padding-bottom: 50px;
}

.p-bneg30{
    margin-bottom: -25px;


}

.bord-radio-20{
    border-radius: 20px;

}


.bord-radio-40{
    border-radius: 40px;
}


.bord-radio100{
    border-radius: 100%;
}


.m-t20{
    margin-top: 20px;
}

.m-b20{
    margin-bottom: 20px;
}

.m-r20{
    margin-right: 20px;
}

.m-l20{
    margin-left: 20px;

}


.m-0a{
    margin: 0 auto;
}



.p-lr5{
    padding: 0 5px;
}


.p-l10{
    padding-left: 10px;
}


/* TEXT */


.txtdeco-none{
    text-decoration: none;
}



#m-nav a{
    text-decoration: none;
    color: var(--light-grey);
    font-size: .7rem;
    text-transform: uppercase;
    font-weight: 600;
}

#recent h4, #recent p, #foryou .row h4, #foryou .row p, #popular .row h4, #popular .row p{
    text-align: center;
    padding-top: 8px;
}

#recent p, #foryou p, #popular p{
    color: var(--light-grey);
    font-size: .8rem;
    padding-bottom: 15px;
}

.white-txt{
    color: var(--white);
}

.upcase{
    text-transform: uppercase;
}

.font-sm{
    font-size: .7rem;
}

.tools ul li a{
   font-size: .7rem;
   text-decoration: none;
   color: var(--light-grey);

}

#playlist .playlist-box ul li{
    padding: 5px 10px;


}


#playlist .tools ul li{
    padding: 5px 10px;
}


#playlist ul li a{
    text-decoration: none;
    color: var(--light-grey);
    font-size: .8rem;
}

#playlist .logo img{
    padding: 10px;

}

.sideb-bot a{
    color: var(--white);
    text-decoration: none;
    padding: 5px 10px;
}

.sideb-bot a span{
    padding: 5px 10px;
}

.sbb-border{
    width: calc(100% - 20px);
    min-height: 35px;
    margin-left: 10px;
    border-top: 1px solid var(--light-grey);
}

.fw-600{
    font-weight: 600;
}

.small-txt{
    font-size: .8rem;
}


#playlist a{

    border-left: 2px solid transparent;
}


#playlist a:hover,
#playlist a.active{
    color: var(--white);
    border-left: 2px solid var(--green);
    margin-left: -10px;
    padding-left: 10px;


}
#playlist a:hover i{
    background-color: var(--white);
}

.install a:hover span{
    color: var(--white);
}


.light-grey-txt{
    color: var(--light-grey);

}


.lil-albm h4{
    font-size: .7rem;
}


.lil-albm span{
    font-size: .5rem;
}

.lil-albm-txt{
    width: 90px;
    line-height: 7px;

}

.lil-albm-opt{
   width: 80px;
   height: 20px;
   margin-left: 35px;
   margin-top: 10px;
}
.lil-albm-opt a{
    color: var(--light-grey);
    padding: 0 5px;
}

.play-media-b span{
    font-size: .6rem;
    color: var(--light-grey);
    margin-right: 30px;
    line-height: .2rem;

}


.layer{
    position: relative;
    cursor: pointer;

}

.layer:after{
    font-family: 'font awesome 6 free';
    font-size: 3rem;
    content: "\f144";
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: var(--white);
    background-color: #2828289c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;

}

.layer:hover:after{
    opacity: 1;
}


.layer-round{
    position: relative;
    cursor: pointer;

}

.layer-round:after{
    font-family: 'font awesome 6 free';
    font-size: 3rem;
    content: "\f144";
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: var(--white);
    background-color: #2828289c;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;

}
.layer-round:hover:after{
    opacity: 1;
}





/* IMG */

.logo{
    width: 60%;
}


.col img{
    width: 100%;
}



.round-img img{
   border-radius: 50%;

}



.tools ul li img{
    width: 20px;

}

.tools a img{
    opacity: 0.8;
}

.tools a:hover img{
    opacity: 1;
}


.account a img{
    width: 10% ;

}

.ico-sz{
    width: 20px;

}


.small-logo{
    display: none;

}



/* CONTAINER */

main{
    width: 100%;
    height: calc(100% - 70px);
    overflow: hidden;




}

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    color: var(--white);
    overflow: hidden;
}

.side-bar{
    width: 230px;
    min-height: 480px;
    background-color: var(--black);
    color: var(--light-grey);

}

.main-container{
    width:calc(100% - 230px);
    height: 100%;
    background-color: var(--grey);
    padding-top: 80px;
    margin-bottom: 70px;
    overflow-y: auto;

}

.play-bar{
    width: 100%;
    height: 70px;
    background-color: var(--mid-grey);

}

.cta-bar{
    width: calc(100% - 230px);
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--navy-blue);
    filter: opacity(0.9);
}

.content-box{
    width: 100%;
    height: calc(100% - 70px);
    padding: 15px;
    margin-bottom: 70px;

}

.main-nav{

    max-width:600px;

}

#m-nav a:hover{
    color: var(--white);
}



#m-nav ul li:after{
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    margin: 0 auto;
    background-color: transparent;
}


#m-nav ul li:hover:after,
#m-nav ul li.active:after{
    background-color: var(--green);
}



.row{
    margin-left: -15px;
    margin-right: -15px;
}

.col{
    padding: 15px;
    width: calc(100% / 6);
}

.sideb-top{
    width: 100%;
    height: calc(100% - 70px);
    /* overflow-y :auto; */

}


.sideb-bot{
    width: 100%;
    height: 70px;
    background-color: var(--black);
    /* position: relative; */

}

.playlist-box{
    width: 100%;
    height: 50%;
    overflow-y: auto;
}




.fa-plus{
    font-size: 1.3rem;
    color: black;
    padding: 5px;
    background-color: var(--light-grey);
    margin-right: 5px;

}


.pro-ball{
    padding: 1px;
    border-radius: 50%;
    background-color: var(--light-grey);
    color: #000000;
}


.play-current, .player-options{
    width: 230px;
    height: 70px;
}

.player-media{
    width: 40%;
}

.lil-albm{
    width: 40px;
    height: 40px;
    margin-left: 10px;

}

.lil-albm img{
    width: 100%;
}

.play-media-t{
    width: 100%;
    height: calc(100% / 2);
}
.play-media-b{
    max-width: 100%;
    height: calc(100% / 2);
    margin-top: 10px;

}

.media-btn-bar{
    max-width: 200px;
    margin: 5px auto;
}

.media-btn-bar a{
    color: var(--light-grey);
}

.fa-circle-play{
    font-size: 1.5rem;
}

.media-btn-bar a .fa-circle-play:hover{
    scale: 1.3;
    color: var(--white);
}

.media-btn-bar a:hover{
    color: var(--white);
}

.lil-albm-opt a:hover{
    color: var(--white);
}

.play-options a{
    color: var(--light-grey);
    font-size: .8rem;
    margin-top: 5px;

}

.play-options a:hover{
    color: var(--white);
}


/* BOTTONI */

.btn{
    padding: 15px 40px;
    border-radius: 20px;
    border: 1px solid var(--white);
    scale: 0.9;
    transition: .7s;

}


.btn:hover{
    scale: 1;
}


/* FLEX */

.d-flex{
    display: flex;
    flex-flow: row nowrap;

}


.d-flex-col{
    display: flex;
    flex-flow: column nowrap;
}

.justco-spacebtw{
    justify-content: space-between;
}

.justco-start{
    justify-content: start;
}

.justco-center{
    justify-content: center;
}

.justco-end{
    justify-content: flex-end;
}

.alig-center{
    align-items: center;
    align-content: center;
}

.aligit-start{
    align-items: flex-start;
}

.aligcon-start{
    align-content: flex-start;
}

.aligco-sbtw{
    align-content:space-between ;
}






/* barra input */

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 30px;
    width: 400px;
    height: 3px;
    background: rgba(128, 128, 128, 0.612);
    border-radius: 5px;
    border-radius: 5px;
    background-image: linear-gradient(#aaaaaa, #aaaaaa);
    background-size: 70% 100%;
    background-repeat: no-repeat;

  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    opacity: 0;
    border-radius: 50%;
    background: var(--light-grey);
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition:.3s ease-in-out;
  }



  input[type="range"]::-webkit-slider-thumb:hover {
    opacity: 1;
  }

  input[type="range"]::-moz-range-thumb:hover {
    opacity: 1;
  }

  input[type="range"]::-ms-thumb:hover {
    opacity: 1;
  }


  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  /* barra input volume */

  input[type="volume"] {
    -webkit-appearance: none;
    margin-top: 7px;
    margin-right: 30px;
    width: 100px;
    height: 6px;
    background: rgba(128, 128, 128, 0.612);
    border-radius: 5px;
    border-radius: 5px;
    background-image: linear-gradient(#aaaaaa, #aaaaaa);
    background-size: 70% 100%;
    background-repeat: no-repeat;

  }

  input[type="volume"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    opacity: 0;
    border-radius: 50%;
    background: var(--light-grey);
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition:.3s ease-in-out;
  }



  input[type="volume"]::-webkit-slider-thumb:hover {
    opacity: 1;
  }

  input[type="volume"]::-moz-range-thumb:hover {
    opacity: 1;
  }

  input[type="volume"]::-ms-thumb:hover {
    opacity: 1;
  }



  input[type=volume]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  input[type=volume]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  input[type="volume"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }


  @media screen and (max-width: 1200px){

    .row{
        width: calc(1200 - 230px);
        flex-flow: row wrap;
    }

    .col{
        padding: 15px;
        width: calc(100% / 4);
    }


  }


  @media screen and (max-width: 992px){
    .row{
        width: calc(1200 - 230px);
        flex-flow: row wrap;
    }

    .col{
        padding: 15px;
        width: calc(100% / 3);
    }


  }


  @media screen and (max-width:768px){
    .row{
        width: calc(1200 - 230px);
        flex-flow: row wrap;
    }

    .col{
        padding: 15px;
        width: calc(100% / 2);
    }

    #m-nav ul li{
       margin-bottom: 40px;
    }

    .wrap-mq{
        flex-flow: row wrap;
        justify-content: space-around;
        
        
    }




  }

  @media screen and (max-width:575px){

    .main-container{
        width:calc(100% - 50px);
        height: 100%;
        background-color: var(--grey);
        padding-top: 80px;
        margin-bottom: 70px;
        overflow-y: auto;

    }



    .row{
        max-width: 100%;
        flex-flow: row wrap;
    }

    .col{
        padding: 15px;
        width: calc(100% / 2);
    }

    .side-bar{

        width: 50px;
        min-height: 480px;
        background-color: var(--black);
        color: var(--light-grey);

    }

    .small-logo{
        display: inline-block;
        width: 20px;
        margin: 4px 13px;
    }

    .logo{

        display: none;
    }

    .tools ul li a span{
        display: none;
    }

    .playlist-box{
        display: none;
    }

    .sideb-bot .install a span, .sideb-bot .account a span {
        display: none;

    }

    .ico-sz{
        width: 20px;
        margin-left: 4px;

    }

    .pro-ball{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--light-grey);
        color: #000000;
        margin-left: -4px;
    }

    .account a img{
        width: 30px ;
        object-fit: cover;
        object-position: center;

    }

    .cta-bar{
        width: calc(100% - 50px);
        height: 80px;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--navy-blue);
        filter: opacity(0.9);
    }



  }